body {
  font-family: "Montserrat";
}

#title {
  background-color: #ee3124;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 1% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0;
}

.navbar-brand {
  font-family: "Comfortaa";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  color: #fff;
}

#myImage {
  width: 100px;
  padding-top: 0;
  padding-right: 10px;
  float: left;
}

.palabra {
  font-size: 1.2rem;
}
/* Features Section */

#features {
  padding: 2% 15%;
  background-color: #fff;
  text-align: center;
}

/* Download Buttons */

.btn {
  width: 12.5rem;
}

.download-button {
  margin: 3% 1% 0 0;
}

/* Title Image */

.title-image {
  width: 50%;
  padding-top: 1%;
}

.icon {
  color: #fff;
  margin-top: 1rem;
}

.icon:hover {
  color: #000;
}

.bottom-container {
  text-align: center;
  background-color: #ee3124;
  padding: 0% 15% 1%;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.9rem;
  padding: 1% 0 0 0;
  text-align: center;
}
/* Modify the ba11999eckgorund color */
.navbar-custom {
  background-color: #ee3124;
}

@media (max-width: 700px) {
  .title-image {
    width: 100%;
  }

  .container-fluid {
    padding: 1% 3%;
  }

  .navbar-brand {
    font-family: "Comfortaa";
    font-size: 1.5rem;
  }

  #myImage {
    width: 50px;
    padding-top: 2%;
    padding-right: 10px;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.5;
  }
  .palabra {
    font-size: 0.7rem;
  }
}
